.carousel {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
    display: flex;
}

.card-carousel {
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-carousel img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    border-radius: 24px;
}

.carousel {

    /* ... */
    >* {
        flex: 0 0 100%;
    }
}

/* Group the cards for better structure. */
.group {
    display: flex;
    gap: 20px;
    /* Add padding to the right to create a gap between the last and first card. */
    padding-right: 20px;
}

.group {
    /* ... */
    will-change: transform;
    animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.carousel {

    /* ... */
    &:hover .group {
        animation-play-state: running;
        /*paused para que se pare*/
    }
}

@media screen and (max-width: 768px) {
    .card-carousel img {
        height: 200px;
        /* cambiar en móviles a algo más bajo*/
    }
    
}