.cartelera-img {
    transition: transform 0.3s ease;
    /* Suaviza la transición */
}

.cartelera-img:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño al 110% */
    cursor: pointer;
    /* Cambia el cursor a una mano para indicar interactividad */
}

.carousel img {
    width: 100%;
    height: 300px;
    aspect-ratio: 16/9;
    object-fit: cover;
}