/* IMPORTACIÓN FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* GENERALES */
* {
    box-sizing: border-box;
}

body {
    font-family: "Ancizar Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif !important;
}

img {
    width: 100%;
    object-fit: contain;
}

video {
    width: 100%;
}

/* HEADER */
header {
    background-image: url("media/images/contact-01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}

/* NAVBAR */
.navbar i {
    padding-right: 5px;
}

.navbar a:hover {
    text-decoration: underline;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

nav a:hover {
    color: #f0f0f0;
}

/* ARTICLE */
.logo {
    width: 250px;
    height: auto;
}

.establecimiento h3 {
    margin: 0;
}

.foto-logo {
    height: 200px;
    object-fit: contain;
}

.cartelera-img {
    transition: transform 0.3s ease;
}

.cartelera-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.carousel img {
    width: 100%;
    height: 300px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

/* CARTELERA DE PELÍCULAS */
.movie-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.cartelera-img {
    aspect-ratio: 2/3;
    width: 100%;
    object-fit: cover;
}

/* FOOTER */
footer {
    margin: 0 !important;
}

footer hr {
    width: 100%;
    height: 3px !important;
    background-color: white;
    color: white;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

footer a:hover {
    color: #dbdbdb;
    text-decoration: underline;
}

/* ADAPTACIÓN A MÓVILES */
@media screen and (max-width: 768px) {

    header {
        display: none;
    }

    article h3 {
        margin-top: 80px;
    }

    .foto-logo {
        height: 150px;
    }

}

@media screen and (min-width: 768px) {

    body .navbar {
        display: none;
    }

}